<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.project.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <!--<resultMap id="BaseResultMap" type="com.ex.project.model.UserInfo">-->
        <!--<result column="company_id" property="companyId"/>-->
        <!--<result column="company_name" property="companyName"/>-->
        <!--<result column="legal_person" property="legalPerson"/>-->
        <!--<result column="reg_capital" property="regCapital"/>-->
        <!--<result column="reg_time" property="regTime"/>-->
        <!--<result column="reg_status" property="regStatus"/>-->
        <!--<result column="reg_location" property="regLocation"/>-->
        <!--<result column="staff_number" property="staffNumber"/>-->
        <!--<result column="company_score" property="companyScore"/>-->
    <!--</resultMap>-->

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        company_id AS companyId, company_name AS companyName, legal_person AS legalPerson, reg_capital AS regCapital, reg_time AS regTime, reg_status AS regStatus, reg_location AS regLocation, staff_number AS staffNumber, company_score AS companyScore
    </sql>

</mapper>